.about-me {
    width: 700px;
    padding: 50px;
    margin: 50px auto 0;
}
.about-title {
    border-bottom: 2px solid black;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.main-content{
    width: 100%;
}

.about-section {
    background-color: white;
}

.testimonial-section {
    background-color: aliceblue;
    padding: 2rem;
    background-image: url('../../components/imgs/background.jpg');
}

.skills-section{
    background-color: white;
    margin-bottom: 80px;
}

.projects-section {
    background-color: white;
}

.contact-section {
    background-color: grey;
}