.form-holder{
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
}


.contact-title {
    border-bottom: 2px solid black;
    margin: 0 auto;
    padding: 10px;
    padding-top: 20px;
    max-width: 150px;
}