.form-holder{
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
}

.contact-links {
    padding: 15px;
}

.contact-links svg {
    margin: 0 10px 0 0;
    
}

.contact-title {
    border-bottom: 2px solid black;
    margin: 0 auto;
    padding: 10px;
    padding-top: 30px;
    max-width: 200px;
}

.text-contact {
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.btn {
    background-color: pink;
    border: 1px solid pink;
}

.btn:hover {
    background-color: white;
    color: hotpink;
    border: 1px solid pink;
}