#nav-bar{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgb(111, 155, 176);
    z-index: 1;
}

#nav-bar-pic {
    border-radius: 50%;
}

a {
    color: rgb(66,49,114);
    text-decoration: none;
}

a:hover {
    color: rgb(105, 66,123)
}

.nav-title {
    font-size: 30px;
}

.resume {
    font-size: 20px;
    position: absolute;
    margin: 0 auto;
    right: 11em;
}

.about {
    font-size: 20px;
    right: 20rem;
}

.about:hover {
    cursor: pointer;
}

.project {
    font-size: 20px;
    position: absolute;
    right: 21rem;
}

.project:hover {
    cursor: pointer;
}

.contact {
    font-size: 20px;
    position: absolute;
    right: 4rem;
}

.contact:hover {
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    #nav-bar{ 
        height: 100px;
        position: relative;
    }
    
    #nav-bar > .container{
        max-width: 100%;
    }

    .nav-title {
        font-size: 0px;
    }
    

    .resume {
        font-size: 15px;
        position: absolute;
        margin: 0 auto;
        right: 8em;
    }

    .about {
        font-size: 0px;
    }

    .project {
        font-size: 15px;
        position: absolute;
        right: 12rem;
    }

    .contact {
        font-size: 15px;
        position: absolute;
        right: 2rem;
    }

}