@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    font-family: "Lato";
}

.project-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-title {
    border-bottom: 2px solid black;
    max-width: 400px;
    margin: 0 auto;
}

.text {
    width: 80%;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: grey;
    
}

.project-one:hover .overlay {
    opacity: 1;
}
.project-two:hover .overlay {
    opacity: 1;
}
.project-three:hover .overlay {
    opacity: 1;
}
.project-four:hover .overlay {
    opacity: 1;
}
.tech-used {
    border-radius: 10%;
    padding: 5px;
    margin: 0.5rem;
    max-width: 400px;
    background-color: rgb(105, 66,123);
    font-family: Lato;
}

.project-one {
    margin: 3rem auto;
    height: 454px;
    position: relative;
    width: 45%;
}
.project-one img {
    width: 100%;
    height: 100%;
}


.project-two {
    margin: 3rem auto;
    height: 454px;
    position: relative;
    width: 45%;
}
.project-two img {
    width: 100%;
    height: 100%;
}

.project-three {
    margin: 3rem auto;
    height: 454px;
    position: relative;
    width: 45%;
}

.project-three img {
    width: 100%;
    height: 100%;
}

.project-four {
    margin: 3rem auto;
    height: 454px;
    position: relative;
    width: 45%;
}

.project-four img {
    width: 100%;
    height: 100%;
}