@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.otf')
}

.tech-used {
    border-radius: 10%;
    padding: 5px;
    margin: 0.5rem;
    max-width: 400px;
    background-color: white;
    font-family: Lato;
}

.project-one {
    width: 78%;
    margin: 4rem auto;
    height: 454px;
}

.project-one img {
    height: 450px;
    float: right;
    border-radius: 5%;
}

.project-two {
    width: 90%;
    margin: 0 auto;
    height: 454px;
}

.project-two img {
    height: 450px;
    float: left;
    border-radius: 5%;
    width: 55%;
}

.project-three {
    
    width: 90%;
    margin: 4rem auto;
    height: 454px;
}

.project-three img {
    height: 450px;
    float: right;
    border-radius: 5%;
    width: 60%;
}

.project-four {
    width: 90%;
    margin: 4rem auto;
    height: 454px;
}
.project-four img {
    height: 450px;
    float: left;
    border-radius: 5%;
    width: 60%;
}