.working-on-info {
    width: 50%;
    margin: 3% auto;
}

.card-container {
    width: 90%;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    padding: 5%;
    margin: 0 auto;
}

.card {
    min-width: 40%;
    height: 350px;
    border-radius: 16px;
    background-color: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: 0.2s;
}

.card-one {
    background-image: url('../imgs/dragonhordeenter.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-two {
    background-image: url('../imgs/dragonhordewelcome.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-three {
    background-image: url('../imgs/dragonhordednd.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-four {
    background-image: url('../imgs/dragonhordecontact.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card:not(:first-child) {
    margin-left: -20%;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card{
    transform: translateX(130px);
}